/* declaring animation variable  */
:root{
    --animation-curve: cubic-bezier(1,0,0,1);
}

/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}


/* 
 get rid of padding & sizing on body so
 header is at top
*/
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* add some padding back to rest of page */
main {
    padding-top: 22vw;
}

/* header styling */
header {
    background-color:rgba(68, 67, 64, 0.8);
    color: #5199A3;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;
    flex-direction: row;
}

header img {
    margin-top: 0.5em;
    margin-bottom: 0.5;
    height: 15vw;
    width: 15vw;
    margin-bottom: 0.5rem;
}

header h2 {
    display: none;
}

   
/* navbar styling */
nav {
    background-color:rgba(68, 67, 64, 0.8);
    width: 100%;
    position: absolute;
    text-align: left;
    top: 100%;
    left:0; 
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
    list-style: none;

}

nav li {
    text-align: center;
    margin-top: 1em;
    margin-left: 1em;
}

nav a {
    color:#5199A3;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0.5rem 0.5rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}



nav a:hover,
nav a:focus {
    color: #F2EFE7;
    background-color: #5199A3;
    border-radius: 10px;
    outline: none;

}

/* adding hamburguer icon */
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    
    position: absolute;
    top:0;
    right:0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 4.5px;
    width: 2rem;
    border-radius: 2px;
    position: relative;
    transition: all 500ms var(--animation-curve);
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 10px;
}

.nav-toggle-label span::after {
    top: 10px;
}

/* adding animation to the navbar section */
.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle:checked ~ .nav-toggle-label span {
    background-color: rgba(68, 67, 64, 0.8);
}

/* adding animation to hamburguer/close icon */
.nav-toggle:checked ~ .nav-toggle-label span::before {
    transform:rotate(41deg);
    transform-origin: left top;

}

.nav-toggle:checked ~ .nav-toggle-label span::after {
    transform:rotate(-41deg);
    transform-origin: left bottom;
    
}

.nav-toggle ~ label {
    transition: all 250ms var(--animation-curve);
}

@media screen and ( min-width: 768px ) {
    
    /* reducing the padding top of the main section */
    main {
        padding-top: 16vw;
    }

    /* reducing size of logo */
    header img {
        height: 13vw;
        width: 13vw;
    }

    /* resizing hamburguer icon */
    .nav-toggle-label {
        margin-right:1.5em;
    }
    
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        height: 7.5px;
        width: 3.2rem;
    }

    .nav-toggle-label span::before {
        bottom: 15px;
    }
    
    .nav-toggle-label span::after {
        top: 15px;
    }

    /*re-adjusting animation of hamburguer/close icon */
    .nav-toggle:checked ~ .nav-toggle-label span::before {
        transform:rotate(38deg);
        transform-origin: left top;
    
    }
    
    .nav-toggle:checked ~ .nav-toggle-label span::after {
        transform:rotate(-38deg);
        transform-origin: left bottom;
        
    }
}

@media screen and ( min-width: 1450px ) {

    .nav-toggle-label {
        display: none;
    }

    header {
        position: unset;
        display: grid;
        grid-template-columns: 1fr auto mimax(600px, 1fr) 1fr;
    }

    header img {
        margin: 0;
        padding: 0.5rem;
        margin-left: 1em;
        height: 4vw;
        width: 4vw;
        grid-column: 1 / 2;
        display: flex;
        justify-content: left;
    }
    

    nav {
        all:unset;
        grid-column: 2 / 3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        margin-right: 10%;

        
    }

    nav a {
        opacity: 1;
    }

    main {
        padding-top: unset;
    }
    

   




}



