/* Body */
body {
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #00565C;
    color: #5199A3;
    
    

}



/* h1s */
h1 {
    font-family: "Bebas Neue";
    font-size: 4.5rem;

} 

/* h2,h3, h4, h5, h6 */
h2, h3, h4, h5 , h6 {
    font-family: "Bebas Neue";
    
}

.main-title { 
    font-size: 2rem;
}

/* header */
header {
    text-align: center;
}






/* hero */

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F2EFE7;
    padding: 0.5rem;
    border: 2px solid #000004;
    font-weight: 595;
    font-size: 1rem;
  

    

}

.hero img {
    align-self: center;
    width: 40%;
   
}




/* bio */

#bio {
    color: #F2EFE7; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    font-size: 1.5rem;
}


 /* bio header */

.bio-h {
    font-family: "Bebas Neue";
    font-size: 2.5rem;
    color:#F2EFE7;
    text-align: center;
} 

.bio h2 {
    text-align: center;
    font-size: 1.3em;
}




/* hobbies */

.hobbies {
    display: flex; 
    flex-direction: column;   
    color:#F2EFE7;    
}

.hobbies h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}


/* gallery */

#gallery {

    font-size: large;
    background-color: #000004;
    text-align: center;
    color:#F2EFE7;
}

#gallery h2 {
    text-align:center;
    justify-content:center;
    margin-bottom: none;
    
    
}

#gallery img {
    width: 85%;
    height: auto;
    border: 2px solid #F2EFE7;
}

#gallery figure {
    margin: 0 0 ;
    font-weight: 600;
    
}

/* literature */
#lit {
    border: 5px solid black;
    border-left: none;
    border-right: none;
    text-align: left;
    margin-top: 15%;
    color:#F2EFE7
    
}

#lit h2 {
    text-align: center;
    padding: 10% 0;
    margin: 0 0;
    
}


#lit div {
  
    font-size: large;
    padding: 2rem;
    padding-top: 0;
    max-width: 80%;
    margin: 0 auto;
}

#p1 { 
    margin-top: 0%;
    
}




/* Drop cap */

#lit div p:first-child:first-letter {
    color: rgb(0, 0, 0);
    float:left; 
    font-family:"monoton"; 
    line-height: 3.3rem;  
    font-weight: 600;
    border: .2rem double black;
    background-color:beige;
    font-size: 3rem;
    margin-right: .6rem;


}


/* Video section */

.video h2 {
    text-align: center;
    color: #F2EFE7;
}

.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
    
}

.videowrapper iframe {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width:100%;
    
    
}

/*contact form */

#formElements {
    display: grid;
    row-gap: .9rem;
    color:white;
    font-size: 1rem;
        
}

.contacth2 {
    color:white;
}

#contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;

}

fieldset {
    border: 7px double white;
}

legend {
    font-size: 1em;
}

#contact input, textarea, #contact textarea, #contact select, #contact butto {
    padding: .5em;
    font-size: 1rem;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact li {
    margin: 1rem;
}

#contact button {
    background-color: aliceblue;
    color:#00565C;
    font-weight: 900;
    font-weight: 400;
    font-size: 1.2em;
    max-width: 400px;
    width: 40%;
    height: 40px;
    justify-self: center;
}






/* footer */

.footer {
    margin-top: 5%;
    font-size: 1rem;
    text-align: center;
    background-color: #F2EFE7;
    padding: 1.5rem;
    border: 2px solid #000004;
   
}


/* 960px Screen section */


@media screen and (min-width: 960px) {

    h2 { 
        font-size: 2em;
    }

    /* hero section */

    .hero {
        font-size: 1.5rem;
        font-weight: 600;

        
        

    }

    .hero img {
        width: fit-content;
        
    }

    /* Gallery section */

    #gallery h2 {
        font-size: 2.3em;
    }
    

    figure {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    figure img {
        height: 100%;
    }

    figcaption {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 1rem;
        text-align: left;
    }

    /* Article section */

    #lit div {
        max-width:100%;
        columns: 15rem;
    }
    
    #lit h2 {
        padding-top: 3.5rem;
        padding-bottom: 3rem;
    }
}
    

/*1600px Screen section */

@media screen and (min-width: 1600px) {

     /* Gallery section */

    hr {
        display: none;
    }
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-top: 2px solid #F2EFE7;
        border-bottom:  2px solid #F2EFE7;

    }

    #gallery h2 {
        grid-column: 1/-1;
            
    }

    figure {
        display:block;
    }

    /* video section */

    video {
        position: relative;
        margin: auto;
    }

    video, h2 {
        margin: 1%;
    }

    .videowrapper {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 211px;
        padding-top: 211px;
        width: 750px;
        height: 0px;
            
            
    }

    /* Article section */
    #lit {
        margin-top: 5%;
    }

    /* Contact Form section */
    #formElements {
        row-gap: 1rem;
        font-size: 1.5rem;
            
    }
}